PORT=8000

# PostgreSQL
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5434
DATABASE_NAME=kol_tool
DATABASE_USER=kol_user
DATABASE_PASSWORD=your_password
DATABASE_URL=postgresql://kol_user:your_password@127.0.0.1:5434/kol_tool

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6381
REDIS_PASS=your_redis_password

# Telegram
TELEGRAM_BOT_TOKEN=8229363179:AAFlJsSmTGKvl5yXEU3db0wFAR3A0SYg7E0

# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
PAYER_SECRET_KEY=[]
USDC_MINT=Gh9ZwEmdLJ8DscKNTkTqPbNwLNNBjuSzaG9Vp2KGtKJr

# CORS
FRONTEND_URL=http://localhost:5173
